*.class
/Praktikum10/tugasModul/Praktikum10/nbproject/private/
/Praktikum10/tugasModul/Praktikum10/build/
/Praktikum10/tugasModul/Project1/nbproject/private/
/Praktikum10/tugasModul/Project1/build/
/Praktikum10/tugasModul/Project2/nbproject/private/
/Praktikum10/tugasModul/Project2/build/
/Praktikum10/tugasModul/Project3/nbproject/private/
/Praktikum10/tugasModul/Project2 - Copy/build/
/Praktikum10/tugasModul/Project2 - Copy/nbproject/private/
/Praktikum10/tugasModul/Project3/build/
/Praktikum10/tugasModul/Project4/build/
/Praktikum10/tugasModul/Project4/nbproject/private/
/Praktikum10/tugasModul/Project3 - Copy/build/
/Praktikum10/tugasModul/Project3 - Copy/nbproject/private/
/Praktikum10/tugasModul/Project3Clone/build/
/Praktikum10/tugasModul/Project3Clone/nbproject/private/
/Praktikum12/tugasModul/jdbc_mhs_service/nbproject/private/
/Praktikum12/tugasModul/jdbc_mhs_service - Copy/nbproject/private/
/Praktikum12/tugasModul/jdbc_mhs_service_GUI/nbproject/private/
/Praktikum12/tugasModul/jdbc_mhs_service/build/
/Praktikum12/tugasModul/jdbc_mhs_service_GUI/build/
